.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-title h2 {
  font: var(--title-font);
}

.contact-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  align-items: center;
}

.contact-map iframe {
  width: 500px;
  height: 300px;
  border: 2px solid var(--primary-2);
}

.contact-data ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-data a,
#operation {
  display: flex;
  gap: 10px;
  align-items: center;
  font: var(--details-font-s);
}

.contact-data a::before,
#operation::before {
  content: "";
  min-height: 0.5rem;
  min-width: 1.5rem;
  background-color: var(--primary-2);
  transition: min-width 0.5s ease;
}

#operation span {
  content: "";
  border-radius: 50%;
  min-width: 0.75rem;
  min-height: 0.75rem;
  border: 2px solid var(--black-1);
  margin-left: var(--margin-xs);
  transition: background-color 2s ease;
}

#operation.opened span {
  background-color: var(--green);
}

#operation.closed span {
  background-color: var(--red);
}

.tooltip {
  background-color: var(--primary-transparent);
  max-width: max-content;
  padding: 5px;
  font: var(--details-font-xs);
  font-size: 0.75rem;
  border: 2px solid var(--black-1);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.contact-data a {
  transition:
    color 0.5s ease,
    min-width 0.5s ease;
}

@media (max-width: 992px) {
  .contact-map iframe {
    width: 350px;
    height: 300px;
    border: 2px solid var(--primary-2);
  }

  .contact-data ul {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-map iframe {
    width: 100%;
    height: 300px;
    border: 2px solid var(--primary-2);
  }
}

@media (hover: hover) {
  .contact-data li a:hover {
    color: var(--secondary-1);
    min-width: 1.9rem;
  }

  .contact-data a:hover::before {
    min-width: 1.9rem;
  }
}
