.slides {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slides-title h2 {
  font: var(--title-font);
}

.slides-viewport {
  overflow: hidden;
  width: 100%;
}

.slides-list {
  display: flex;
  gap: 50px;
  transition: transform 0.2s ease;
}

.slides-list li {
  flex: 0 0 60%;
  opacity: 0.8;

  transition:
    opacity 0.3s ease,
    flex 0.3s ease;
}

.slides-list li img {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.slides-list li:hover,
.slides-list li.active {
  opacity: 1;
  flex: 0 0 65%;
}

.slides-buttons {
  display: flex;
  gap: 15px;
}

.slides-buttons button {
  padding: 3px 7px;
  background-color: var(--primary-2);
  text-align: center;
  transition: color 0.3s ease;
}

@media (max-width: 992px) {
  .slides-list {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .slides {
    gap: 20px;
  }

  .slides-list {
    gap: 20px;
  }

  .slides-list li img {
    box-shadow: none;
  }
}

@media (hover: hover) {
  .slides-buttons button:hover {
    color: var(--secondary-1);
  }
}
