.footer-bg {
  background: var(--primary-2);
  justify-self: end;
  width: 75%;
  margin: 40px 0;
}

.footer {
  align-items: center;
  padding: 20px 40px;
  margin: 0;
}

.footer-copy {
  font: var(--details-font-xs);
  color: var(--black-1);
}

@media (max-width: 768px) {
  .footer-bg {
    width: 100%;
    margin: 0;
  }

  .footer {
    place-content: center;
    padding: 20px 40px;
  }

  .footer-copy {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    place-content: center;
    padding: 20px 30px;
  }
}
