.header-bg {
  background: var(--primary-2);
  justify-self: end;
  width: 75%;
  margin: 40px 0;
}

.header {
  align-items: center;
  padding: 10px 30px;
  margin: 0;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: start;
  gap: 20px;
}

.header-link {
  font: var(--details-font-xs);
  color: var(--black-1);
  padding: 10px 5px;
  transition: color 0.3s ease;
}

#login {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  transition:
    color 0.3s ease,
    gap 0.3s ease;
}

.dropdown {
  display: relative;
}

.dropdown-list {
  display: none;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: var(--secondary-1);
  padding: 7.5px;
  border: 2px solid var(--black-1);
  position: absolute;
  animation: fade 0.5s forwards;
}

.dropdown-list.active {
  display: flex !important;
}

.dropdown-list::before {
  content: "▲";
  position: absolute;
  color: var(--secondary-1);
  top: -20px;
  left: 15px;
}

.dropdown-item a {
  font: var(--details-font-xs);
  color: var(--black-1);
  padding: 5px 10px;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .header-bg {
    width: 100%;
    margin: 0;
  }

  .header {
    place-content: center;
    padding: 20px 30px;
  }

  .header-list {
    place-content: center;
    gap: 15px;
  }

  .header-link {
    background-color: var(--primary-1);
    border-radius: var(--border-m);
    padding: 10px;
  }

  #login span {
    display: none;
  }
}

@media (hover: hover) {
  .header-link:hover {
    color: var(--secondary-1);
  }

  #login:hover {
    gap: 12.5px;
  }

  .dropdown:hover .dropdown-list {
    display: flex;
  }

  .dropdown-item a:hover {
    color: var(--primary-2);
  }
}
