.numbers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.numbers-title h2 {
  font: var(--title-font);
}

.numbers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: stretch;
  gap: 30px;
}

.numbers-item-header h3 {
  font: var(--details-font-l);
  display: flex;
  gap: 10px;
  align-items: center;
}

.numbers-item-header img {
  width: 40px;
  height: 40px;
}

.numbers-item span {
  font: var(--details-font-m);
  color: var(--secondary-1);
}

.numbers-item-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .numbers {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .numbers-content {
    flex-direction: column;
    gap: 20px;
  }

  .numbers-item h3 img {
    width: 30px;
    height: 30px;
  }
}
