:root {
  /* Fontes */
  --primary-font: 'IBM Plex Mono', monospace;
  --secondary-font: 'Playfair Display SC', serif;

  /* Tipografia Títulos */
  --title-font: 600 4rem / 1.2 var(--secondary-font);

  /* Tipografia Textos */
  --text-font: 400 1.125rem / 1.6 var(--primary-font);

  /* Tipografia Detalhes */
  --details-font-m: 600 1.25rem / 1.4 var(--primary-font);
  --details-font-s: 600 1.125rem / 1.4 var(--primary-font);
  --details-font-xs: 600 1rem / 1.4 var(--primary-font);

  /* Identidade Visual */
  --primary-1: #ffc369;
  --primary-2: #ffbb55;
  --secondary-1: #e54;
  --secondary-transparent: rgba(238, 85, 68, 0.842);

  /* Cores Neutras */
  --white: #fff;
  --grey: #faf6ed;
  --black-1: #222;
  --black-2: #111;

  /* Margens */
  --margin-m: 1.25rem;
  --margin-s: 0.625rem;
  --margin-xs: 0.3125rem;

  /* Bordas */
  --border-l: 15px;
  --border-m: 10px;
  --border-s: 5px;
}

@media (max-width: 768px) {
  :root {
    --title-font: 600 3rem / 1.2 var(--secondary-font);
    --text-font: 400 1rem / 1.6 var(--primary-font);
    --details-font-m: 600 1.125rem / 1.4 var(--primary-font);
  }
}

@media (max-width: 480px) {
  :root {
    --title-font: 600 2.35rem / 1.2 var(--secondary-font);
  }
}
